/*GENERAL STYLE*/

body {
    background-color: #fafafa;
    font-family: 'Open Sans', serif;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
    }
}

h2, h4, h5, h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-size: 3em;
    font-weight: 700;
    color: #07689f;
}

h1, h3 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 500;
}

a {
    color: #07689f;
}

a:hover, a:focus, a:active {
    color: #ff7e67;
}

/*==================================================
                  SECTION (Generic)
====================================================*/

.heading-border {
    width: 60px;
    height: 10px;
    background-color: #2196f3;
    margin: 0 auto 20px auto;
}

section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }
    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    background-color: #07689f !important;
}

.text-primary {
    color: #07689f !important;
}

/*==================================================
                    NAV-BAR
====================================================*/

#navBar a {
    color: #ff7e67;
}

.navbar-toggler {
    margin-left: 5em;
    background-color: #ff7e67;
}

.navbar-nav {
    padding-left: 5em;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
}

.container-fluid {
    padding: 0;
}

@media (max-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 19rem;
        height: 100vh;
    }
    #sideNav .navbar-brand {
        display: flex;
        margin: 20% auto 0;
        padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }
    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }

    .navbar {
        padding: 0;
    }
}

/*==================================================
                      ABOUT
====================================================*/

@media (min-width: 300px) {
    .about-my-auto {
        padding-left: 2em;
    }
    h1 {
        font-size: 5rem;
        line-height: 5.5rem;
    }
}


.about-my-auto {
    padding-left: 6em;
    margin-top: 1em;
    margin-right: auto;
}

.about-buttons {
    padding-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    float: left;
}

.about-heading {
    color: #81c3e9;
}

.about-description {
    font-style: italic;
    font-size: 1.2em;
    color: #81c3e9;
    width: 30em;
}

.divider {
    height: auto;
    display: inline-block;
}

/*==================================================
                  SOCIAL-ICON
====================================================*/

.list-social-icons a {
    color: #495057;
}

.list-social-icons a:hover {
    color: #2196f3;
}

.list-social-icons a .fa-lg {
    font-size: 1.75rem;
}

.list-icons {
    font-size: 3rem;
}

.social-icons {
    margin-left: 1em;
}

.list-icons .list-inline-item i:hover {
    color: #2196f3;
}

/*====================================================
                      SKILLS
======================================================*/

.hero-section {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.hero-tech-stack-section {
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
    border: solid 2px;
    border-color: #07689f;
    border-radius: 5%;
    display: grid;
    grid-template-columns: repeat(4, 10em);
    justify-content: center;
}

.tech-stack-item {
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}

.tech-stack-item-subtext {
    font-size: font-size-sm;
    margin-top: 5px;
    color: #a2d5f2;
}

.skill-icon {
    height: 5em;
    width: 5em;
}

.skills-header {
    color: #81c3e9;
    margin-bottom: 3em;
    text-align: center;
}

/*====================================================
                   PORTFOLIO
======================================================*/

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .caption-port {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(54, 160, 245, 0.73);
}

#portfolio .portfolio-item .portfolio-link .caption-port:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

.col-12 {
    height: 17vh;
}

.portfolio {
    padding-top: 3em;
}

.portfolio-content {
    padding-left: 3em;
}

.portfolio-page-header {
    font-family: 'Merriweather', serif;
}

.portfolio-header {
    font-family: 'Montserrat', sans-serif;
    color: #ff7e67;
    display: table;
    font-size: 30px;
    margin: 10px auto;
}

.portfolio-button {
    margin-top: 1em;
}

.portfolio-item {
    padding-bottom: 3em;
}

.portfolio-item-description {
    font-family: 'Montserrat';
    font-size: 1.5em;
    font-weight: 500;
    color: #07689f;
    float: left;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 2em;
}

.portfolio-skill-item {
    margin-left: .5em;
}

.card {
    border-radius: 5%;
    padding-bottom: 2em;
    width: 50%;
}

.card-title {
    padding-top: .5em;
    padding-bottom: 0;
}

.card-body {
    padding-top: 0;
}

.img-fluid, .caption-port {
    border-radius: 5%;
}

.caption-port {
    border-radius: 5%;
}

/*====================================================
                   FOOTER
======================================================*/

.container {
    color: indigo;
    font-size: 1.5em;
    text-align: center;
}