/*GENERAL STYLE*/

body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    color: #868e96;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h2, h4, h5, h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #07689f;
}

h1, h3 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

a {
    color: #07689f;
}

a:hover, a:focus, a:active {
    color: #ff7e67;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
}

/*==================================================
                    NAV-BAR
====================================================*/

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 19rem;
        height: 100vh;
    }
    #sideNav .navbar-brand {
        display: flex;
        margin: 20% auto 0;
        padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }
    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

/*==================================================
                  SECTION (Generic)
====================================================*/

.heading-border {
    width: 60px;
    height: 10px;
    background-color: #2196f3;
    margin: 0 auto 20px auto;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }
    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    background-color: #07689f !important;
}

.text-primary {
    color: #07689f !important;
}



/*====================================================
                   FOOTER
======================================================*/


#footer {
    background-color: #fafafa;
    bottom: 0px;
    color: #a2d5f2;
    position: fixed;
    text-align: center;
    width: 86%;
}

.copyright {
    margin-top: 0.5em;
}